In [1]:
import pandas as pd

In [2]:
Sub = pd.read_pickle("WSBSubmissonsdata_new.pkl")

In [3]:
#time mod days (convert into eastern time)
Sub['time_in_a_day'] = (Sub['time_created']-14400)%86400

In [4]:
#time in a day (hour)
Sub['time_hour'] = Sub['time_in_a_day']/3600

In [5]:
bin_labels = ['night', 'morning', 'afternoon', 'evening']

In [6]:
Sub['period'] = pd.cut(Sub['time_hour'], bins=[0,6,12,18,24], labels=bin_labels)

In [7]:
Sub[['time_hour','period']].head(10)

        time_hour     period
l8rf4k  14.010556  afternoon
l6wu59   9.676111    morning
l78uct  17.106389  afternoon
l846a1  17.079167  afternoon
l6x130   9.819722    morning
lnqgz8  17.098611  afternoon
l6ekdz  17.259722  afternoon
lae6j0  17.126667  afternoon
l8c0u4  22.894444    evening
lexy8t  18.980556    evening